<footer class="bg-dark py-3 text-center">
    <div class="container iconsFooter mb-3">
        <div class="containIconShip col-4">
            <img class="iconShip" src="{{ asset('img/safepayment.png') }}">
            <h5>Paiement sécurisé</h5>
            <p>Carte bleue & Paypal</p>
        </div>
        
        <div class="containIconShip col-4">
            <img class="iconShip" src="{{ asset('img/express.png') }}">
            <h5>Expédition sous 24H</h5>
            <p>Pour toute commande avant 12H</p>
        </div>
        
        <div class="containIconShip col-4">
            <img class="iconShip" src="{{ asset('img/freedelivery.png') }}">
            <h5>Livraison gratuite</h5>
            <p>A partir de 20€ d'achats</p>
        </div>
    </div>

    <div class="container socialFooter">
        <a href="#" class="col-4 containSocialFooter">
            <img class="iconSocial" src="{{ asset('img/fbicon.png') }}">
            <p class="textSocial">Rejoignez-nous sur FACEBOOK</p>
        </a>

        <a href="#" class="col-4 containSocialFooter">
            <img class="iconSocial" src="{{ asset('img/twittericon.png') }}">
            <p class="textSocial">Suivez-nous sur TWITTER</p>
        </a>

        <a href="#" class="col-4 containSocialFooter">
            <img class="iconSocial" src="{{ asset('img/instaicon.png') }}">
            <p class="textSocial">Retrouvez-nous sur INSTAGRAM</p>
        </a>

    </div>

    <p>Copyright Mighty Comics</p>
</footer>